.App {
  text-align: center;
  background-color: rgb(150, 144, 137);
}

.edite-todo{
  background-color:gray;
  margin:10px auto;
  width: 25%;
}

.edite-todo input{
  border-radius: 10px;
  display: inline-block;
  width:86%;
}

.form{
  background-color:gray;
  margin:10px auto;
  width: 25%;
}

.form input{
  border-radius: 10px;
  display: inline-block;
  width:80%;
}

.form input::placeholder{
  padding:10px;
}

.todo{
  margin:10px auto;
  width: 25%;
  background-color:rgb(105, 126, 118);
  border-radius: 10px;
}

.todo li{
  list-style-type:none;
  display: flex;
  justify-content: space-between;
}

.done{
  background-color:red;
}



